<h2 mat-dialog-title>{{ action }} Producto</h2>

<mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-grid-list cols="1" rowHeight="80px">

      <!-- Nombre -->
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre Completo</mat-label>
          <input matInput autocomplete="off" formControlName="name">
          <mat-icon matSuffix>fit_screen</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <!-- Categories -->
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Categorias</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let item of categoriesList" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <!-- Stock -->
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Stock</mat-label>
          <input matInput autocomplete="off" formControlName="stock" type="number">
          <mat-icon matSuffix>edit_square</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <!-- Price -->
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Precio</mat-label>
          <input matInput autocomplete="off" formControlName="price">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </mat-grid-tile>


      <!-- Estado -->
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="isActive">
            <mat-option *ngFor="let item of productStatus" [value]="item.value.toString()">
              {{ item.status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>


    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" [disabled]="productForm.invalid" (click)="save()">{{ actionButton
    }}</button>
</mat-dialog-actions>