<h1 style="margin: 20px 0px 0px 40px;">Productos</h1>

<mat-card style="margin: 20px 40px 40px 40px;">
  <mat-card-title>
    <button mat-raised-button color="primary" (click)="createProduct()">
      <mat-icon>add</mat-icon> Nuevo Producto
    </button>
  </mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content class="dashboard-card-content">
    <!-- Campo de búsqueda -->
    <mat-form-field appearance="standard">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyTableFilter($event)" #input />
    </mat-form-field>

    <div class="mat-elevation-z2">
      <!-- Tabla -->
      <table mat-table [dataSource]="productsList" class="mat-table">

        <!-- Columna: Nombre Completo -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <!-- Columna: Correo Electrónico -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Categoría </th>
          <td mat-cell *matCellDef="let element"> {{ element.categoryDescription }} </td>
        </ng-container>

        <!-- Columna: Rol -->
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef> Stock </th>
          <td mat-cell *matCellDef="let element"> {{ element.stock }} </td>
        </ng-container>

        <!-- Columna: Estado -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element">
            {{ element.price }}
          </td>
        </ng-container>

        <!-- Columna: Estado -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element">
            {{ element.isActive == 1 ? "Activo" : "Inactivo" }}
          </td>
        </ng-container>

        <!-- Columna: Acciones -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="width: 120px;"> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editProduct(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteProduct(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Fila de encabezados -->
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>

        <!-- Filas de datos -->
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

        <!-- Mensaje cuando no hay datos -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">No hay datos que coincidan con el filtro "{{ input.value }}"</td>
        </tr>
      </table>

      <!-- Paginador -->
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>